/* Estilos de loguin*/
.container{
  text-align: center;
}
.rowone{
  text-align: center;
}
.rowtwo{
  text-align: center;
}
.rowthree{
  text-align: center;
}
.rowfour{
  text-align: center;
}